$text-color: #2c3e50;

$primary-color: #176cf7;
$danger-color: #fa4f57;
$success-color: #27c578;
$dark-color: rgb(56, 71, 87);

$page-bg: #fff;
$table-header-bg: rgb(0, 0, 0, 0.04);
$border-color: #e1e1e1;
